* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.composition {
  position: relative; }
  .composition__photo {
    margin-top: 10rem;
    margin-right: 5rem;
    width: 30%;
    position: absolute;
    z-index: 10;
    transition: all 0.2s; }
    .composition__photo--p1 {
      right: 25%;
      top: -2rem;
      transform: rotate(15deg); }
    .composition__photo--p2 {
      right: 0;
      top: 2rem;
      transform: rotate(-15deg); }
    .composition__photo--p3 {
      right: 20%;
      top: 10rem;
      transform: rotate(5deg); }
    .composition__photo:hover {
      transform: rotate(0) scale(1.25) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
    .composition__photo:hover .composition__photo__photo:not(:hover) {
      transform: scale(0.95); }

body {
  background-image: url("./images/michael-mroczek-440382-unsplash.jpg");
  background-size: cover; }
